@import 'transition';

#author {
  font-family: Raleway, sans-serif;
  text-align: right;
  padding-top: 20px;
  transition: color $transition;
}
  
#author::before {
  content: '- ';
}

.fade {
  animation: fade $transition;
}

@keyframes fade {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}